<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">We are confident that we will become your preferred partner, which in return will save your administration time, reducing substantial cost, improving quality and efficiency. <br/>We would be glad to provide you more information and answer your queries about us. Please contact us on the contact details listed herewith. <br/>Coming together is a beginning, staying together is progress, and working together is success!</p>
                <a href="mailto:" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
