<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>上海市徐汇区凯旋路3131号1401室</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="#page-top">
                <i class="fa fa-home fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <!-- <p>Back to top</p> -->
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <!-- <p>Email us</p> -->
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="#page-top">
            <i class="fa fa-building fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <!-- <p>We r here</p> -->
            </a>
        </div>

    </div>
</section>
