<header>
    <div class="header-content">
        <div class="header-content-inner">
            <!-- <h1>Professional in Sales and Service of Networking Equipments</h1> -->
            <h1>network equipment service provider</h1>
            <hr>
            <p>We are a world-wide quality supplier of networking equipment specializing in the Cisco,Huawei,H3C and Juniper products line!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
